#gameCanvas, #scoreContainer, #helpContainer, #speedContainer {
    border: 1px solid #000000;
}

#container {
    display: grid;
    /* Working around a potential Firefox bug by using fr instead of % - 
    see https://bugzilla.mozilla.org/show_bug.cgi?id=1609495 */
    grid-template-columns: 35fr 30fr 35fr;
    grid-template-rows: 2fr 3fr 3fr 2fr;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#helpContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

#gameContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

#gameOverContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    font-size: 7em;
    z-index: 1;
}

#speedContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#scoreContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}