#gameCanvas, #scoreContainer, #helpContainer, #speedContainer {
    border: 1px solid #000000;
}

#container {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 20% 30% 30% 20%;
    justify-items: center;
    align-items: center;
}

#helpContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

#gameContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

#speedContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#scoreContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}